<a href="https://colab.research.google.com/github/taitai9847/100knocks-preprocess-colab/blob/master/%E3%83%87%E3%83%BC%E3%82%BF%E5%88%86%E6%9E%90100%E6%9C%AC%E3%83%8E%E3%83%83%E3%82%AF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pipでオリジナルの解答に必要なライブラリーをインストール
# !pip install --upgrade pip
# !pip install -U pandas numpy scikit-learn imbalanced-learn

# pipでオリジナルの解答に必要なライブラリーをインポート
import os
import pandas as pd
import numpy as np
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import math
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler


# データを github/noguhiro2002/100knocks-preprocess/work/data フォルダよりDataframe形式でRead
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_category = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/category.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')
df_store = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/store.csv')
df_geocode = pd.read_csv('https://raw.githubusercontent.com/noguhiro2002/100knocks-preprocess_ForColab-AzureNotebook/master/data/geocode.csv')

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_receipt.head(10)

   sales_ymd  sales_epoch store_cd  ...  product_cd  quantity amount
0   20181103   1257206400   S14006  ...  P070305012         1    158
1   20181118   1258502400   S13008  ...  P070701017         1     81
2   20170712   1215820800   S14028  ...  P060101005         1    170
3   20190205   1265328000   S14042  ...  P050301001         1     25
4   20180821   1250812800   S14025  ...  P060102007         1     90
5   20190605   1275696000   S13003  ...  P050102002         1    138
6   20181205   1259971200   S14024  ...  P080101005         1     30
7   20190922   1285113600   S14040  ...  P070501004         1    128
8   20170504   1209859200   S13020  ...  P071302010         1    770
9   20191010   1286668800   S14027  ...  P071101003         1    680

[10 rows x 9 columns]

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].head(10)

   sales_ymd     customer_id  product_cd  amount
0   20181103  CS006214000001  P070305012     158
1   20181118  CS008415000097  P070701017      81
2   20170712  CS028414000014  P060101005     170
3   20190205  ZZ000000000000  P050301001      25
4   20180821  CS025415000050  P060102007      90
5   20190605  CS003515000195  P050102002     138
6   20181205  CS024514000042  P080101005      30
7   20190922  CS040415000178  P070501004     128
8   20170504  ZZ000000000000  P071302010     770
9   20191010  CS027514000015  P071101003     680

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].rename(columns={'sales_ymd':'sales_date'}).head(10)

   sales_date     customer_id  product_cd  amount
0    20181103  CS006214000001  P070305012     158
1    20181118  CS008415000097  P070701017      81
2    20170712  CS028414000014  P060101005     170
3    20190205  ZZ000000000000  P050301001      25
4    20180821  CS025415000050  P060102007      90
5    20190605  CS003515000195  P050102002     138
6    20181205  CS024514000042  P080101005      30
7    20190922  CS040415000178  P070501004     128
8    20170504  ZZ000000000000  P071302010     770
9    20191010  CS027514000015  P071101003     680

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].query("customer_id == 'CS018205000001' & amount >= 1000")

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'quantity', 'amount']].query("customer_id == 'CS018205000001' & (amount >= 1000 | quantity >= 5)")

       sales_ymd     customer_id  product_cd  quantity  amount
36      20180911  CS018205000001  P071401012         1    2200
9843    20180414  CS018205000001  P060104007         6     600
21110   20170614  CS018205000001  P050206001         5     990
68117   20190226  CS018205000001  P071401020         1    2200
72254   20180911  CS018205000001  P071401005         1    1100

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].query("customer_id == 'CS018205000001' & (amount >= 1000 & amount <= 2000)")

       sales_ymd     customer_id  product_cd  amount
72254   20180911  CS018205000001  P071401005    1100

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].query("customer_id == 'CS018205000001' & product_cd != 'P071401019'")

       sales_ymd     customer_id  product_cd  amount
36      20180911  CS018205000001  P071401012    2200
9843    20180414  CS018205000001  P060104007     600
21110   20170614  CS018205000001  P050206001     990
27673   20170614  CS018205000001  P060702015     108
27840   20190216  CS018205000001  P071005024     102
28757   20180414  CS018205000001  P071101002     278
39256   20190226  CS018205000001  P070902035     168
58121   20190924  CS018205000001  P060805001     495
68117   20190226  CS018205000001  P071401020    2200
72254   20180911  CS018205000001  P071401005    1100
88508   20190216  CS018205000001  P040101002     218
91525   20190924  CS018205000001  P091503001     280

In [ ]:
df_store.query('(prefecture_cd != "13" and floor_area <= 900)')

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
38   S12013       習志野店             12  ...  140.0220  35.66122      808.0

[3 rows x 10 columns]

In [ ]:
df_store.query("store_cd.str.startswith('S14')", engine='python').head(10)

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
2    S14010        菊名店             14  ...  139.6326  35.50049     1732.0
3    S14033       阿久和店             14  ...  139.4961  35.45918     1495.0
4    S14036     相模原中央店             14  ...  139.3716  35.57327     1679.0
7    S14040       長津田店             14  ...  139.4994  35.52398     1548.0
9    S14050      阿久和西店             14  ...  139.4961  35.45918     1830.0
12   S14028       二ツ橋店             14  ...  139.4963  35.46304     1574.0
16   S14012      本牧和田店             14  ...  139.6582  35.42156     1341.0
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
19   S14022        逗子店             14  ...  139.5789  35.29642     1838.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0

[10 rows x 10 columns]

In [ ]:
df_customer.query("customer_id.str.endswith('1')", engine='python').head(10)

        customer_id customer_name  ...  application_date     status_cd
1    CS037613000071         六角 雅彦  ...          20150414  0-00000000-0
3    CS028811000001        堀井 かおり  ...          20160115  0-00000000-0
14   CS040412000191         川井 郁恵  ...          20151101  1-20091025-4
31   CS028314000011        小菅 あおい  ...          20151123  1-20080426-5
56   CS039212000051        藤島 恵梨香  ...          20171121  1-20100215-4
59   CS015412000111         松居 奈月  ...          20150629  0-00000000-0
63   CS004702000041          野島 洋  ...          20170218  0-00000000-0
74   CS041515000001         栗田 千夏  ...          20160422  E-20100803-F
85   CS029313000221        北条 ひかり  ...          20180810  0-00000000-0
102  CS034312000071         望月 奈央  ...          20160106  0-00000000-0

[10 rows x 11 columns]

In [ ]:
df_store.query("address.str.contains('横浜市')", engine='python')

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
2    S14010        菊名店             14  ...  139.6326  35.50049     1732.0
3    S14033       阿久和店             14  ...  139.4961  35.45918     1495.0
7    S14040       長津田店             14  ...  139.4994  35.52398     1548.0
9    S14050      阿久和西店             14  ...  139.4961  35.45918     1830.0
12   S14028       二ツ橋店             14  ...  139.4963  35.46304     1574.0
16   S14012      本牧和田店             14  ...  139.6582  35.42156     1341.0
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
26   S14048      中川中央店             14  ...  139.5758  35.54912     1657.0
40   S14042       新山下店             14  ...  139.6593  35.43894     1044.0
52   S14006       葛が谷店             14  ...  139.5633  35.53573     1886.0

[11 rows x 10 columns]

In [ ]:
df_customer.query("status_cd.str.contains('^[A-F]', regex=True)", engine="python").head(10)

       customer_id customer_name  ...  application_date     status_cd
2   CS031415000172       宇多田 貴美子  ...          20150529  D-20100325-C
6   CS015414000103         奥野 陽子  ...          20150722  B-20100609-B
12  CS011215000048         芦田 沙耶  ...          20150228  C-20100421-9
15  CS029415000023         梅田 里穂  ...          20150610  D-20100918-E
21  CS035415000029         寺沢 真希  ...          20141220  F-20101029-F
32  CS031415000106        宇野 由美子  ...          20150201  F-20100511-E
33  CS029215000025         石倉 美帆  ...          20150708  B-20100820-C
40  CS033605000005         猪股 雄太  ...          20150425  F-20100917-E
44  CS033415000229        板垣 菜々美  ...          20150712  F-20100326-E
53  CS008415000145         黒谷 麻緒  ...          20150829  F-20100622-F

[10 rows x 11 columns]

In [ ]:
df_customer.query("status_cd.str.contains('[1-9]$', regex=True)", engine="python").head(10)

       customer_id customer_name  ...  application_date     status_cd
4   CS001215000145         田崎 美紀  ...          20170605  6-20090929-2
9   CS033513000180          安斎 遥  ...          20150728  6-20080506-5
12  CS011215000048         芦田 沙耶  ...          20150228  C-20100421-9
14  CS040412000191         川井 郁恵  ...          20151101  1-20091025-4
16  CS009315000023         皆川 文世  ...          20150319  5-20080322-1
22  CS015315000033        福士 璃奈子  ...          20141024  4-20080219-3
23  CS023513000066         神戸 そら  ...          20150915  5-20100524-9
24  CS035513000134         市川 美帆  ...          20150227  8-20100711-9
27  CS001515000263         高松 夏空  ...          20160812  1-20100804-1
28  CS040314000027       鶴田 きみまろ  ...          20150122  2-20080426-4

[10 rows x 11 columns]

In [ ]:
df_customer.query("status_cd.str.contains('^[A-F].*[1-9]$', regex=True)", engine="python").head(10)

        customer_id customer_name  ...  application_date     status_cd
12   CS011215000048         芦田 沙耶  ...          20150228  C-20100421-9
68   CS022513000105        島村 貴美子  ...          20150320  A-20091115-7
71   CS001515000096         水野 陽子  ...          20150614  A-20100724-7
122  CS013615000053         西脇 季衣  ...          20150128  B-20100329-6
144  CS020412000161          小宮 薫  ...          20150822  B-20081021-3
178  CS001215000097        竹中 あさみ  ...          20170315  A-20100211-2
252  CS035212000007        内村 恵梨香  ...          20151013  B-20101018-6
259  CS002515000386         野田 コウ  ...          20160410  C-20100127-8
293  CS001615000372        稲垣 寿々花  ...          20170403  A-20100104-1
297  CS032512000121         松井 知世  ...          20150727  A-20100103-5

[10 rows x 11 columns]

In [ ]:
df_store.query("tel_no.str.contains('[0-9]{3}-[0-9]{3}-[0-9]{4}', regex=True)", engine='python')

   store_cd store_name  prefecture_cd  ... longitude  latitude floor_area
0    S12014       千草台店             12  ...  140.1180  35.63559     1698.0
1    S13002       国分寺店             13  ...  139.4802  35.70566     1735.0
2    S14010        菊名店             14  ...  139.6326  35.50049     1732.0
3    S14033       阿久和店             14  ...  139.4961  35.45918     1495.0
4    S14036     相模原中央店             14  ...  139.3716  35.57327     1679.0
7    S14040       長津田店             14  ...  139.4994  35.52398     1548.0
9    S14050      阿久和西店             14  ...  139.4961  35.45918     1830.0
11   S13052        森野店             13  ...  139.4383  35.55293     1087.0
12   S14028       二ツ橋店             14  ...  139.4963  35.46304     1574.0
16   S14012      本牧和田店             14  ...  139.6582  35.42156     1341.0
18   S14046       北山田店             14  ...  139.5916  35.56189      831.0
19   S14022        逗子店             14  ...  139.5789  35.29642     1838.0
20   S14011      日吉本町店             14  ...  139.6316  35.54655      890.0
21   S13016       小金井店             13  ...  139.5094  35.70018     1399.0
22   S14034      川崎野川店             14  ...  139.5998  35.57693     1318.0
26   S14048      中川中央店             14  ...  139.5758  35.54912     1657.0
27   S12007        佐倉店             12  ...  140.1452  35.71872     1895.0
28   S14026     辻堂西海岸店             14  ...  139.4466  35.32464     1732.0
29   S13041       八王子店             13  ...  139.4235  35.63787      810.0
31   S14049      川崎大師店             14  ...  139.7327  35.53759      962.0
32   S14023        川崎店             14  ...  139.7028  35.53599     1804.0
33   S13018        清瀬店             13  ...  139.5178  35.76885     1220.0
35   S14027       南藤沢店             14  ...  139.4896  35.33762     1521.0
36   S14021       伊勢原店             14  ...  139.3129  35.40169      962.0
37   S14047       相模原店             14  ...  139.3748  35.55959     1047.0
38   S12013       習志野店             12  ...  140.0220  35.66122      808.0
40   S14042       新山下店             14  ...  139.6593  35.43894     1044.0
42   S12030        八幡店             12  ...  139.9240  35.72318     1162.0
44   S14025        大和店             14  ...  139.4680  35.43414     1011.0
45   S14045        厚木店             14  ...  139.3651  35.44182      980.0
47   S12029        東野店             12  ...  139.8968  35.65086     1101.0
49   S12053        高洲店             12  ...  139.9176  35.63755     1555.0
51   S14024        三田店             14  ...  139.5424  35.60770      972.0
52   S14006       葛が谷店             14  ...  139.5633  35.53573     1886.0

[34 rows x 10 columns]

In [ ]:
df_customer.sort_values("birth_day", ascending=True).head(10)

          customer_id customer_name  ...  application_date     status_cd
18817  CS003813000014        村山 菜々美  ...          20160214  0-00000000-0
12328  CS026813000004         吉村 朝陽  ...          20150723  0-00000000-0
15682  CS018811000003         熊沢 美里  ...          20150403  0-00000000-0
15302  CS027803000004         内村 拓郎  ...          20151227  0-00000000-0
1681   CS013801000003         天野 拓郎  ...          20160120  0-00000000-0
7511   CS001814000022         鶴田 里穂  ...          20161012  A-20090415-7
2378   CS016815000002         山元 美紀  ...          20150629  C-20090923-C
4680   CS009815000003         中田 里穂  ...          20150421  D-20091021-E
16070  CS005813000015        金谷 恵梨香  ...          20150506  0-00000000-0
6305   CS012813000013         宇野 南朋  ...          20150712  0-00000000-0

[10 rows x 11 columns]

In [ ]:
df_customer.sort_values("birth_day", ascending=False).head(10)

          customer_id customer_name  ...  application_date     status_cd
15639  CS035114000004         大村 美里  ...          20150619  6-20091205-6
7468   CS022103000002        福山 はじめ  ...          20160909  0-00000000-0
10745  CS002113000009        柴田 真悠子  ...          20160304  0-00000000-0
19811  CS004115000014         松井 京子  ...          20161120  1-20081231-1
7039   CS002114000010          山内 遥  ...          20160920  6-20100510-1
3670   CS025115000002         小柳 夏希  ...          20160116  D-20100913-D
12493  CS002113000025        広末 まなみ  ...          20171030  0-00000000-0
15977  CS033112000003         長野 美紀  ...          20150606  0-00000000-0
5716   CS007115000006          福岡 瞬  ...          20151118  F-20101016-F
15097  CS014113000008         矢口 莉緒  ...          20150622  3-20091108-6

[10 rows x 11 columns]

In [ ]:
# axis=0とすると縦方向に連結される
# axis=1とすると横方向に連結される

df_tmp = pd.concat([df_receipt[['customer_id', 'amount']], df_receipt['amount'].rank(method='min', ascending=False)], axis=1)
df_tmp.columns = ['customer_id', 'amount', 'ranking']
df_tmp.sort_values('ranking', ascending=True).head(10)

          customer_id  amount  ranking
1202   CS011415000006   10925      1.0
62317  ZZ000000000000    6800      2.0
54095  CS028605000002    5780      3.0
4632   CS015515000034    5480      4.0
72747  ZZ000000000000    5480      4.0
10320  ZZ000000000000    5480      4.0
97294  CS021515000089    5440      7.0
28304  ZZ000000000000    5440      7.0
92246  CS009415000038    5280      9.0
68553  CS040415000200    5280      9.0

In [ ]:
df_tmp = pd.concat([df_receipt[['customer_id', 'amount']], df_receipt['amount'].rank(method='first', ascending=False)], axis=1)
df_tmp.columns = ['customer_id', 'amount', 'ranking']
df_tmp.sort_values('ranking', ascending=True).head(10)

          customer_id  amount  ranking
1202   CS011415000006   10925      1.0
62317  ZZ000000000000    6800      2.0
54095  CS028605000002    5780      3.0
4632   CS015515000034    5480      4.0
10320  ZZ000000000000    5480      5.0
72747  ZZ000000000000    5480      6.0
28304  ZZ000000000000    5440      7.0
97294  CS021515000089    5440      8.0
596    CS015515000083    5280      9.0
11275  CS017414000114    5280     10.0

In [ ]:
len(df_receipt)

104681

In [ ]:
len(df_receipt['customer_id'].unique())

8307

In [ ]:
df_receipt.groupby('store_cd').agg({'amount':'sum', 'quantity':'sum'}).reset_index()

   store_cd  amount  quantity
0    S12007  638761      2099
1    S12013  787513      2425
2    S12014  725167      2358
3    S12029  794741      2555
4    S12030  684402      2403
5    S13001  811936      2347
6    S13002  727821      2340
7    S13003  764294      2197
8    S13004  779373      2390
9    S13005  629876      2004
10   S13008  809288      2491
11   S13009  808870      2486
12   S13015  780873      2248
13   S13016  793773      2432
14   S13017  748221      2376
15   S13018  790535      2562
16   S13019  827833      2541
17   S13020  796383      2383
18   S13031  705968      2336
19   S13032  790501      2491
20   S13035  715869      2219
21   S13037  693087      2344
22   S13038  708884      2337
23   S13039  611888      1981
24   S13041  728266      2233
25   S13043  587895      1881
26   S13044  520764      1729
27   S13051  107452       354
28   S13052  100314       250
29   S14006  712839      2284
30   S14010  790361      2290
31   S14011  805724      2434
32   S14012  720600      2412
33   S14021  699511      2231
34   S14022  651328      2047
35   S14023  727630      2258
36   S14024  736323      2417
37   S14025  755581      2394
38   S14026  824537      2503
39   S14027  714550      2303
40   S14028  786145      2458
41   S14033  725318      2282
42   S14034  653681      2024
43   S14036  203694       635
44   S14040  701858      2233
45   S14042  534689      1935
46   S14045  458484      1398
47   S14046  412646      1354
48   S14047  338329      1041
49   S14048  234276       769
50   S14049  230808       788
51   S14050  167090       580

In [ ]:
df_receipt.groupby('customer_id').sales_ymd.max().reset_index().head(10)

      customer_id  sales_ymd
0  CS001113000004   20190308
1  CS001114000005   20190731
2  CS001115000010   20190405
3  CS001205000004   20190625
4  CS001205000006   20190224
5  CS001211000025   20190322
6  CS001212000027   20170127
7  CS001212000031   20180906
8  CS001212000046   20170811
9  CS001212000070   20191018

In [ ]:
df_receipt.groupby('customer_id').agg({'sales_ymd':'min'}).head(10)

                sales_ymd
customer_id
CS001113000004   20190308
CS001114000005   20180503
CS001115000010   20171228
CS001205000004   20170914
CS001205000006   20180207
CS001211000025   20190322
CS001212000027   20170127
CS001212000031   20180906
CS001212000046   20170811
CS001212000070   20191018

In [ ]:
df_tmp = df_receipt.groupby('customer_id').agg({'sales_ymd':['max','min']}).reset_index()
df_tmp.columns = ['customer_id', 'sales_ymd_max', "sales_ymd_min"]
df_tmp.query('sales_ymd_max != sales_ymd_min').head(10)

AttributeError: ignored

       customer_id  sales_ymd_max  sales_ymd_min
1   CS001114000005       20190731       20180503
2   CS001115000010       20190405       20171228
3   CS001205000004       20190625       20170914
4   CS001205000006       20190224       20180207
13  CS001214000009       20190902       20170306
14  CS001214000017       20191006       20180828
16  CS001214000048       20190929       20171109
17  CS001214000052       20190617       20180208
20  CS001215000005       20181021       20170206
21  CS001215000040       20171022       20170214

In [ ]:
df_receipt.groupby('store_cd').agg({"amount":"mean"}).sort_values("amount", ascending=False).head(5)

              amount
store_cd
S13052    402.867470
S13015    351.111960
S13003    350.915519
S14010    348.791262
S13001    348.470386

In [ ]:
df_receipt.groupby('store_cd').agg({'amount':'median'}).sort_values('amount', ascending=False).head(5)

          amount
store_cd
S13052       190
S14010       188
S14050       185
S14040       180
S13003       180

In [ ]:
df_receipt.groupby("store_cd").product_cd.apply(lambda x: x.mode()).reset_index()

   store_cd  level_1  product_cd
0    S12007        0  P060303001
1    S12013        0  P060303001
2    S12014        0  P060303001
3    S12029        0  P060303001
4    S12030        0  P060303001
5    S13001        0  P060303001
6    S13002        0  P060303001
7    S13003        0  P071401001
8    S13004        0  P060303001
9    S13005        0  P040503001
10   S13008        0  P060303001
11   S13009        0  P060303001
12   S13015        0  P071401001
13   S13016        0  P071102001
14   S13017        0  P060101002
15   S13018        0  P071401001
16   S13019        0  P071401001
17   S13020        0  P071401001
18   S13031        0  P060303001
19   S13032        0  P060303001
20   S13035        0  P040503001
21   S13037        0  P060303001
22   S13038        0  P060303001
23   S13039        0  P071401001
24   S13041        0  P071401001
25   S13043        0  P060303001
26   S13044        0  P060303001
27   S13051        0  P050102001
28   S13051        1  P071003001
29   S13051        2  P080804001
30   S13052        0  P050101001
31   S14006        0  P060303001
32   S14010        0  P060303001
33   S14011        0  P060101001
34   S14012        0  P060303001
35   S14021        0  P060101001
36   S14022        0  P060303001
37   S14023        0  P071401001
38   S14024        0  P060303001
39   S14025        0  P060303001
40   S14026        0  P071401001
41   S14027        0  P060303001
42   S14028        0  P060303001
43   S14033        0  P071401001
44   S14034        0  P060303001
45   S14036        0  P040503001
46   S14036        1  P060101001
47   S14040        0  P060303001
48   S14042        0  P050101001
49   S14045        0  P060303001
50   S14046        0  P060303001
51   S14047        0  P060303001
52   S14048        0  P050101001
53   S14049        0  P060303001
54   S14050        0  P060303001

In [ ]:
df_receipt.groupby('store_cd').amount.var(ddof=0).reset_index().sort_values('amount', ascending=False).head(5)

   store_cd         amount
28   S13052  440088.701311
31   S14011  306314.558164
42   S14034  296920.081011
5    S13001  295431.993329
12   S13015  295294.361116

In [ ]:
df_receipt.groupby('store_cd').amount.std(ddof=0).reset_index().sort_values('amount', ascending=False).head(5)

   store_cd      amount
28   S13052  663.391816
31   S14011  553.456916
42   S14034  544.903736
5    S13001  543.536561
12   S13015  543.409938

In [ ]:
df_receipt.amount.quantile(q=np.arange(5)/4)

0.00       10.0
0.25      102.0
0.50      170.0
0.75      288.0
1.00    10925.0
Name: amount, dtype: float64

In [ ]:
df_receipt.groupby("store_cd").agg({'amount': 'mean'}).reset_index().query('amount>=330')

   store_cd      amount
1    S12013  330.194130
5    S13001  348.470386
7    S13003  350.915519
8    S13004  330.943949
12   S13015  351.111960
16   S13019  330.208616
17   S13020  337.879932
28   S13052  402.867470
30   S14010  348.791262
31   S14011  335.718333
38   S14026  332.340588
46   S14045  330.082073
48   S14047  330.077073

In [ ]:
df_receipt.query('not customer_id.str.startswith("Z")', engine='python').groupby('customer_id').amount.sum().mean()

2547.742234529256

In [ ]:
amount_mean = df_receipt.query('not customer_id.str.startswith("Z")', engine='python').groupby('customer_id').amount.sum().mean()
df_amount_sum = df_receipt.groupby('customer_id').amount.sum().reset_index()
df_amount_sum[df_amount_sum['amount'] >= amount_mean].head(10)

       customer_id  amount
2   CS001115000010    3044
4   CS001205000006    3337
13  CS001214000009    4685
14  CS001214000017    4132
17  CS001214000052    5639
21  CS001215000040    3496
30  CS001304000006    3726
32  CS001305000005    3485
33  CS001305000011    4370
53  CS001315000180    3300

In [ ]:
pd.merge(df_receipt, df_store[["store_cd", "store_name"]], how="inner", on="store_cd").head(10)

   sales_ymd  sales_epoch store_cd  ...  quantity  amount store_name
0   20181103   1257206400   S14006  ...         1     158       葛が谷店
1   20181116   1258329600   S14006  ...         1      48       葛が谷店
2   20170118   1200614400   S14006  ...         1     220       葛が谷店
3   20190524   1274659200   S14006  ...         1      80       葛が谷店
4   20190419   1271635200   S14006  ...         1     148       葛が谷店
5   20181119   1258588800   S14006  ...         1      88       葛が谷店
6   20171211   1228953600   S14006  ...         1      80       葛が谷店
7   20191021   1287619200   S14006  ...         1     405       葛が谷店
8   20170710   1215648000   S14006  ...         1     330       葛が谷店
9   20190805   1280966400   S14006  ...         1     115       葛が谷店

[10 rows x 10 columns]

In [ ]:
df_product

       product_cd  category_major_cd  ...  unit_price  unit_cost
0      P040101001                  4  ...       198.0      149.0
1      P040101002                  4  ...       218.0      164.0
2      P040101003                  4  ...       230.0      173.0
3      P040101004                  4  ...       248.0      186.0
4      P040101005                  4  ...       268.0      201.0
...           ...                ...  ...         ...        ...
10025  P091503001                  9  ...       280.0      210.0
10026  P091503002                  9  ...       680.0      510.0
10027  P091503003                  9  ...      1080.0      810.0
10028  P091503004                  9  ...      1130.0      848.0
10029  P091503005                  9  ...      1280.0      960.0

[10030 rows x 6 columns]

In [ ]:
df_category

     category_major_cd  ... category_small_name
0                    4  ...                 弁当類
1                    4  ...                 寿司類
2                    4  ...               魚介佃煮類
3                    4  ...               海草佃煮類
4                    4  ...               野菜佃煮類
..                 ...  ...                 ...
223                  9  ...              ペットフード
224                  9  ...               ペット用剤
225                  9  ...               ペット用具
226                  9  ...             建築・塗装材料
227                  9  ...                園芸用品

[228 rows x 6 columns]

In [ ]:
pd.merge(df_product, df_category[["category_major_cd", "category_small_cd", "category_medium_cd", "category_small_name"]], how="inner", on=["category_major_cd", "category_small_cd", "category_medium_cd"]).head(10)

   product_cd  category_major_cd  ...  unit_cost  category_small_name
0  P040101001                  4  ...      149.0                  弁当類
1  P040101002                  4  ...      164.0                  弁当類
2  P040101003                  4  ...      173.0                  弁当類
3  P040101004                  4  ...      186.0                  弁当類
4  P040101005                  4  ...      201.0                  弁当類
5  P040101006                  4  ...      224.0                  弁当類
6  P040101007                  4  ...      254.0                  弁当類
7  P040101008                  4  ...      315.0                  弁当類
8  P040101009                  4  ...      374.0                  弁当類
9  P040101010                  4  ...      435.0                  弁当類

[10 rows x 7 columns]

In [ ]:
#38
#左の結合するカラムに合わせるということ
df_amount_sum = df_receipt.groupby("customer_id").amount.sum().reset_index()
df_tmp = df_customer.query("gender_cd == 1 and not customer_id.str.startswith('Z')", engine="python")
pd.merge(df_tmp["customer_id"], df_amount_sum, how="left", on="customer_id").fillna(0).head(10)
# pd.merge(df_tmp['customer_id'], df_amount_sum, how='left', on='customer_id').fillna(0).head(10)

      customer_id  amount
0  CS021313000114     0.0
1  CS031415000172  5088.0
2  CS028811000001     0.0
3  CS001215000145   875.0
4  CS015414000103  3122.0
5  CS033513000180   868.0
6  CS035614000014     0.0
7  CS011215000048  3444.0
8  CS009413000079     0.0
9  CS040412000191   210.0

In [ ]:
#39
df_tmp = df_receipt.groupby("customer_id").amount.sum().reset_index()
df_tmp = df_tmp.query("not customer_id.str.startswith('Z')", engine="python")
df_tmp = df_tmp.sort_values('amount', ascending=False).head(10)

df_cnt = df_receipt[~df_receipt.duplicated(subset=['customer_id', 'sales_ymd'])]
df_cnt
df_cnt = df_cnt.query('not customer_id.str.startswith("Z")', engine='python')
df_cnt = df_cnt.groupby('customer_id').sales_ymd.count().reset_index()
df_cnt = df_cnt.sort_values('sales_ymd', ascending=False).head(20)

pd.merge(df_tmp, df_cnt, how='outer', on='customer_id')

       customer_id   amount  sales_ymd
0   CS017415000097  23086.0       20.0
1   CS015415000185  20153.0       22.0
2   CS031414000051  19202.0       19.0
3   CS028415000007  19127.0       21.0
4   CS001605000009  18925.0        NaN
5   CS010214000010  18585.0       22.0
6   CS016415000141  18372.0       20.0
7   CS006515000023  18372.0        NaN
8   CS011414000106  18338.0        NaN
9   CS038415000104  17847.0        NaN
10  CS040214000008      NaN       23.0
11  CS010214000002      NaN       21.0
12  CS014214000023      NaN       19.0
13  CS022515000226      NaN       19.0
14  CS021515000172      NaN       19.0
15  CS039414000052      NaN       19.0
16  CS021514000045      NaN       19.0
17  CS022515000028      NaN       18.0
18  CS030214000008      NaN       18.0
19  CS021515000056      NaN       18.0
20  CS014415000077      NaN       18.0
21  CS021515000211      NaN       18.0
22  CS032415000209      NaN       18.0
23  CS031414000073      NaN       18.0

In [ ]:
#40
df_store_tmp = df_store.copy()
df_product_tmp = df_product.copy()

df_store_tmp["key"] = 0
df_product_tmp["key"] = 0

len(pd.merge(df_store_tmp, df_product_tmp, how="outer", on="key"))

531590

In [ ]:
#41
#sumは、'sales_ymd'のようなときは、日付順に並び変わる。
#shiftは一つ行が下がる
df_sales_amount_by_date = df_receipt[['sales_ymd', 'amount']].groupby('sales_ymd').sum().reset_index()
df_sales_amount_by_date = pd.concat([df_sales_amount_by_date, df_sales_amount_by_date.shift()], axis=1)
df_sales_amount_by_date.columns = ['sales_ymd','amount','lag_ymd','lag_amount']
df_sales_amount_by_date["diff_amount"] = df_sales_amount_by_date["amount"] - df_sales_amount_by_date["lag_amount"]
df_sales_amount_by_date.head(10)

   sales_ymd  amount     lag_ymd  lag_amount  diff_amount
0   20170101   33723         NaN         NaN          NaN
1   20170102   24165  20170101.0     33723.0      -9558.0
2   20170103   27503  20170102.0     24165.0       3338.0
3   20170104   36165  20170103.0     27503.0       8662.0
4   20170105   37830  20170104.0     36165.0       1665.0
5   20170106   32387  20170105.0     37830.0      -5443.0
6   20170107   23415  20170106.0     32387.0      -8972.0
7   20170108   24737  20170107.0     23415.0       1322.0
8   20170109   26718  20170108.0     24737.0       1981.0
9   20170110   20143  20170109.0     26718.0      -6575.0

In [95]:
#42
df_receipt_amount_by_date_origin = df_receipt[["sales_ymd", "amount"]].groupby("sales_ymd").sum().reset_index()
df_receipt_amount_by_date = pd.concat([df_receipt_amount_by_date_origin, df_receipt_amount_by_date_origin.shift()], axis=1)
df_receipt_amount_by_date_1 = df_receipt_amount_by_date_origin.shift(2)
df_receipt_amount_by_date = pd.concat([df_receipt_amount_by_date, df_receipt_amount_by_date_1], axis=1)
df_receipt_amount_by_date_2 = df_receipt_amount_by_date_origin.shift(3)
df_receipt_amount_by_date = pd.concat([df_receipt_amount_by_date, df_receipt_amount_by_date_2], axis=1)
df_receipt_amount_by_date.columns = ['sales_ymd', 'amount', 'lag_ymd_1', 'lag_amount_1', 'lag_ymd_2', 'lag_amount_2', 'lag_ymd_3', 'lag_amount_3']
df_receipt_amount_by_date
df_receipt_amount_by_date.dropna().sort_values(['sales_ymd']).head(10)

    sales_ymd  amount   lag_ymd_1  ...  lag_amount_2   lag_ymd_3  lag_amount_3
3    20170104   36165  20170103.0  ...       24165.0  20170101.0       33723.0
4    20170105   37830  20170104.0  ...       27503.0  20170102.0       24165.0
5    20170106   32387  20170105.0  ...       36165.0  20170103.0       27503.0
6    20170107   23415  20170106.0  ...       37830.0  20170104.0       36165.0
7    20170108   24737  20170107.0  ...       32387.0  20170105.0       37830.0
8    20170109   26718  20170108.0  ...       23415.0  20170106.0       32387.0
9    20170110   20143  20170109.0  ...       24737.0  20170107.0       23415.0
10   20170111   24287  20170110.0  ...       26718.0  20170108.0       24737.0
11   20170112   23526  20170111.0  ...       20143.0  20170109.0       26718.0
12   20170113   28004  20170112.0  ...       24287.0  20170110.0       20143.0

[10 rows x 8 columns]

In [101]:
#43
df_tmp = pd.merge(df_receipt, df_customer, how="inner", on="customer_id")
df_tmp['era'] = df_tmp['age'].apply(lambda x: math.floor(x / 10) * 10)
df_sales_summary = pd.pivot_table(df_tmp, index='era', columns='gender_cd', values='amount', aggfunc='sum').reset_index()
df_sales_summary.columns = ['era', 'male', 'female', 'unknown']
df_sales_summary

   era      male     female   unknown
0   10    1591.0   149836.0    4317.0
1   20   72940.0  1363724.0   44328.0
2   30  177322.0   693047.0   50441.0
3   40   19355.0  9320791.0  483512.0
4   50   54320.0  6685192.0  342923.0
5   60  272469.0   987741.0   71418.0
6   70   13435.0    29764.0    2427.0
7   80   46360.0   262923.0    5111.0
8   90       NaN     6260.0       NaN

In [104]:
#44
df_sales_summary = df_sales_summary.set_index('era'). \
        stack().reset_index().replace({'female':'01',
                                        'male':'00',
                                        'unknown':'99'}).rename(columns={'level_1':'gender_cd', 0: 'amount'})
df_sales_summary

    era  gender_cd     amount
0    10  gender_cd  gender_cd
1    10     amount         00
2    10  gender_cd     amount
3    10     amount       1591
4    10  gender_cd  gender_cd
..  ...        ...        ...
95   80     amount       5111
96   90  gender_cd  gender_cd
97   90     amount         01
98   90  gender_cd     amount
99   90     amount       6260

[100 rows x 3 columns]

In [105]:
pd.concat([df_customer["customer_id"], 
          pd.to_datetime(df_customer['birth_day']).dt.strftime('%Y%m%d')], axis = 1
          ).head(10)

      customer_id birth_day
0  CS021313000114  19810429
1  CS037613000071  19520401
2  CS031415000172  19761004
3  CS028811000001  19330327
4  CS001215000145  19950329
5  CS020401000016  19740915
6  CS015414000103  19770809
7  CS029403000008  19730817
8  CS015804000004  19310502
9  CS033513000180  19620711

In [110]:
#46
pd.concat([df_customer['customer_id'], pd.to_datetime(df_customer["application_date"])], axis =1).head(10)

      customer_id              application_date
0  CS021313000114 1970-01-01 00:00:00.020150905
1  CS037613000071 1970-01-01 00:00:00.020150414
2  CS031415000172 1970-01-01 00:00:00.020150529
3  CS028811000001 1970-01-01 00:00:00.020160115
4  CS001215000145 1970-01-01 00:00:00.020170605
5  CS020401000016 1970-01-01 00:00:00.020150225
6  CS015414000103 1970-01-01 00:00:00.020150722
7  CS029403000008 1970-01-01 00:00:00.020150515
8  CS015804000004 1970-01-01 00:00:00.020150607
9  CS033513000180 1970-01-01 00:00:00.020150728

In [112]:
#47
pd.concat([df_receipt[["receipt_no", "receipt_sub_no"]], pd.to_datetime(df_receipt["sales_ymd"])], axis=1).head(10)

   receipt_no  receipt_sub_no                     sales_ymd
0         112               1 1970-01-01 00:00:00.020181103
1        1132               2 1970-01-01 00:00:00.020181118
2        1102               1 1970-01-01 00:00:00.020170712
3        1132               1 1970-01-01 00:00:00.020190205
4        1102               2 1970-01-01 00:00:00.020180821
5        1112               1 1970-01-01 00:00:00.020190605
6        1102               2 1970-01-01 00:00:00.020181205
7        1102               1 1970-01-01 00:00:00.020190922
8        1112               2 1970-01-01 00:00:00.020170504
9        1102               1 1970-01-01 00:00:00.020191010

In [113]:
#48
pd.concat([df_receipt[["receipt_no", "receipt_sub_no"]], pd.to_datetime(df_receipt["sales_epoch"])], axis = 1).head(10)

   receipt_no  receipt_sub_no                   sales_epoch
0         112               1 1970-01-01 00:00:01.257206400
1        1132               2 1970-01-01 00:00:01.258502400
2        1102               1 1970-01-01 00:00:01.215820800
3        1132               1 1970-01-01 00:00:01.265328000
4        1102               2 1970-01-01 00:00:01.250812800
5        1112               1 1970-01-01 00:00:01.275696000
6        1102               2 1970-01-01 00:00:01.259971200
7        1102               1 1970-01-01 00:00:01.285113600
8        1112               2 1970-01-01 00:00:01.209859200
9        1102               1 1970-01-01 00:00:01.286668800

In [116]:
#49
pd.concat([df_receipt[["receipt_no", "receipt_sub_no"]], pd.to_datetime(df_receipt['sales_epoch'], unit='s').dt.year], axis=1).head(10)

   receipt_no  receipt_sub_no  sales_epoch
0         112               1         2009
1        1132               2         2009
2        1102               1         2008
3        1132               1         2010
4        1102               2         2009
5        1112               1         2010
6        1102               2         2009
7        1102               1         2010
8        1112               2         2008
9        1102               1         2010

In [120]:
#50
pd.concat([df_receipt[["receipt_no", "receipt_sub_no"]], pd.to_datetime(df_receipt['sales_epoch'], unit='s').dt.strftime("%m")], axis=1).head(10)

   receipt_no  receipt_sub_no sales_epoch
0         112               1          11
1        1132               2          11
2        1102               1          07
3        1132               1          02
4        1102               2          08
5        1112               1          06
6        1102               2          12
7        1102               1          09
8        1112               2          05
9        1102               1          10